In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Error! Division by zero."
    return x / y

def calculator():
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")

    choice = input("Enter choice (1/2/3/4): ")

    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(f"Result: {add(num1, num2)}")
        elif choice == '2':
            print(f"Result: {subtract(num1, num2)}")
        elif choice == '3':
            print(f"Result: {multiply(num1, num2)}")
        elif choice == '4':
            print(f"Result: {divide(num1, num2)}")
    else:
        print("Invalid input")

if __name__ == "__main__":
    calculator()

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice (1/2/3/4): 3
Enter first number: 3
Enter second number: 3
Result: 9.0

In [ ]:
n = int(input("Enter number : "))
if(n ==0 or n==1):
  print("Factorial : 1")
else:
  for i in range(1,n):
    n = n*i
  print("Factorial : ",n)

Enter number : 5
Factorial :  120

In [ ]:
def fibonacci(n):
    fib_series = [0, 1]
    while fib_series[-1] + fib_series[-2] <= n:
        fib_series.append(fib_series[-1] + fib_series[-2])
    return fib_series

def main():
    num = int(input("Enter a number: "))
    print("Fibonacci series:", fibonacci(num))

if __name__ == "__main__":
    main()

Enter a number: 11
Fibonacci series: [0, 1, 1, 2, 3, 5, 8]

In [ ]:
a = input("Enter String : ")

b = a[::-1]

if(a == b):
  print("Palindrome")
else:
  print("Not Palindrome")

Enter String : aniina
Palindrome

In [ ]:
a = input("Enter String : ")

b = a[::-1]

print(b)

Enter String : aniket
tekina

In [ ]:
lst = [11,3,53,5,4,2,5,32]
max = lst[0]
for i in lst:
  if(i>max):
    max=i
print(max)

53